.container#edit-issue
  %ul.nav.nav-tabs(role='tablist')
    %li.active
      %a(href='#edit' role='tab' data-toggle='tab') Edit
    %li
      %a(href='#history' role='tab' data-toggle='tab') History

  .tab-content
    .tab-pane.active#edit
      = simple_form_for(@issue) do |f|
        = f.error_notification

        .form-inputs
          = f.input :title, as: :string
          = f.input :text

        .form-actions
          = f.button :submit, 'Save', class: :'btn-success'
          = link_to 'Cancel', @issue
          = link_to 'Delete', @issue, method: :delete, class: [:btn, :'btn-danger', :'pull-right'], data: {confirm: 'Are you sure?'}


    .tab-pane#history
      .row
        .col-lg-4
          %h3 Versions
          = form_for(@issue, url: revert_issue_path) do |f|
            = f.submit('Make current version', class: 'btn btn-primary')

            %ol.version-list
              = f.collection_radio_buttons(:version, @issue.versions.reverse, :index, :created_at) do |b|
                - version = b.object
                - version_number = version.index
                - is_live_version = version_number == @issue.versions.last.index
                %li
                  &= b.label('class' => 'version-label', 'data-version-url' => "#{issue_path(@issue, version_index: version_number)}") do
                    = b.radio_button(checked: is_live_version, class: 'version-radio')
                    = version.created_at.in_time_zone.to_s(:pretty)
                    by
                    = User.find(version.whodunnit).name

        .col-lg-8#version-preview
          - @issue.version_timestamp = @issue.versions.last.created_at
          #issue
            = render partial: 'show_version'


= content_for(:scripts) do
  :javascript
    $('.version-radio').on('change', function(event) {
      var $label = $(this).closest('label'),
          url = $label.data('version-url');
        $('#version-preview #issue').load(url + ' .inner-wrapper', function() {
                                      Initializers.selectableTheses();
                                    });
    });
