.content
  %h1 Issues

  %ol
    - @issues.each do |issue|
      %li.row
        .col-xs-1
          .vote.up= link_to '⇧', upvote_issue_path(issue), class: current_user.voted_up_on?(issue, role: :visibility) ? 'selected' : '', method: :post
          .vote.down= link_to '⇩', downvote_issue_path(issue), class: current_user.voted_down_on?(issue, role: :visibility) ? 'selected' : '', method: :post
        .col-xs-10
          = link_to issue.title, issue
          = link_to issue.author.display, issue.author
          .text= issue.text
        .col-xs-1
          = link_to edit_issue_path(issue), { class: [:btn, :'btn-default'], title: 'Edit' } do
            %i.glyphicon.glyphicon-edit

%br

= link_to 'New Issue', new_issue_path
