#issue.container
  .row
    %h1.col-xs-11
      = link_to '<', issues_path, class: [:btn, :'btn-default']
      = link_to @issue.title, @issue
    .control.col-xs-1
      - if policy(@issue).update?
        = link_to edit_issue_path(@issue), { class: [:btn, :'btn-default'], title: 'Edit' } do
          %i.glyphicon.glyphicon-edit
  .row
    .col-xs-12
      %span by
      %span= link_to @issue.author.display, @issue.author

  #text
    .row
      .html.col-xs-12
    .edit{ style: 'display: none' }
      = form_for @issue do |f|
        .row
          .col-xs-12= f.text_area :text, class: 'form-control'
        .row
          .col-xs-12
            = link_to 'Cancel', '#', class: [:btn, :'btn-default', :cancel]
            = f.submit 'Save', class: [:btn, :'btn-success']

  #vote.row
    #yea.col-xs-6= link_to 'Yea', voteyea_issue_path(@issue), class: current_user.try(:voted_up_on?, @issue, vote_scope: :approval) ? :selected : nil, method: :post
    #nay.col-xs-6= link_to 'Nay', votenay_issue_path(@issue), class: current_user.try(:voted_down_on?, @issue, vote_scope: :approval) ? :selected : nil, method: :post

  %form#theses.row
    .col-xs-6
      %ol
        - @issue.theses.where(position: Issue.positions[:for]).each do |thesis|
          %li.thesis
            = radio_button_tag :thesis, thesis.id
            = label_tag "thesis_#{thesis.id}", thesis.summary
    .col-xs-6
      %ol
        - @issue.theses.where(position: Issue.positions[:against]).each do |thesis|
          %li.thesis
            = radio_button_tag :thesis, thesis.id
            = label_tag "thesis_#{thesis.id}", thesis.summary

  .row
    .col-xs-12= link_to 'Add Thesis', new_thesis_path(issue: @issue), class: [:btn, :'btn-default']
  

  - @issue.theses.each do |thesis|
    .row
      
  #thesis.hide
    = form_for Thesis.new do |f|
      .row
        = f.text_field :summary, class: :'form-control'
      .row
        = f.text_area :text, class: :'form-control'
      
