#issue.container
  .row
    %h1.col-xs-11
      = link_to '<', issues_path, class: [:btn, :'btn-default']
      = link_to @issue.title, @issue
    .control.col-xs-1
      - if policy(@issue).update?
        = link_to edit_issue_path(@issue), { class: [:btn, :'btn-default'], title: 'Edit' } do
          %i.glyphicon.glyphicon-edit
  .row
    .col-xs-12
      %span by
      %span= link_to @issue.author.display, @issue.author

  #text
    .row
      .html.col-xs-12
    .edit{ style: 'display: none' }
      = form_for @issue do |f|
        .row
          .col-xs-12= f.text_area :text, class: 'form-control'
        .row
          .controls.col-xs-12
            = link_to 'Cancel', '#', class: [:btn, :'btn-default', :cancel]
            = f.submit 'Save', class: [:btn, :'btn-success']

  #vote.row
    #yea.col-xs-6= link_to 'Yea', voteyea_issue_path(@issue), class: current_user.try(:voted_up_on?, @issue, vote_scope: :approval) ? :selected : nil, method: :post
    #nay.col-xs-6= link_to 'Nay', votenay_issue_path(@issue), class: current_user.try(:voted_down_on?, @issue, vote_scope: :approval) ? :selected : nil, method: :post

  %form#theses.row
    .col-xs-6
      %ol
        - @issue.theses_for.each do |thesis|
          %li.thesis
            = radio_button_tag :thesis, thesis.id
            = label_tag "thesis_#{thesis.id}", thesis.summary
        %li.thesis
          = link_to new_issue_thesis_path(@issue, position: Thesis::POSITIONS::FOR), class: [:btn, :'btn-default', :add] do
            %i.glyphicon.glyphicon-plus-sign
    .col-xs-6
      %ol
        - @issue.theses_against.each do |thesis|
          %li.thesis
            = radio_button_tag :thesis, thesis.id
            = label_tag "thesis_#{thesis.id}", thesis.summary
        %li.thesis
          = link_to new_issue_thesis_path(@issue, position: Thesis::POSITIONS::AGAINST), class: [:btn, :'btn-default', :add] do
            %i.glyphicon.glyphicon-plus-sign

  #forms
    - @issue.theses.each do |thesis|
      .thesis{ data: { id: thesis.id }, style: 'display: none' }
        .html
          .row
            %h2.col-xs-12
              = thesis.summary
              %a.btn.btn-default.pull-right(title='Edit')
                %i.glyphicon.glyphicon-edit
          .row
            .text.col-xs-12
        .edit{ style: 'display: none' }
          %ul.nav.nav-tabs(role='tablist')
            %li.active
              %a(href="\#edit-#{thesis.id}" role='tab' data-toggle='tab') Edit
            %li
              %a(href="#history-#{thesis.id}" role='tab' data-toggle='tab') History

          .tab-content
            .tab-pane.active(id="edit-#{thesis.id}")
              = simple_form_for([@issue, thesis]) do |f|
                = f.error_notification

                .form_inputs
                  = f.input :summary, as: :string, label: false
                  = f.input :text, label: false

                .form-actions
                  = f.submit 'Save', class: [:btn, :'btn-success']
                  = link_to 'Cancel', @issue

            .tab-pane(id="history-#{thesis.id}")
              .row
                .col-lg-4
                  %h3 Versions
                  = form_for thesis, url: {action: 'revert', id: thesis.id, issue_id: @issue.id, controller: 'theses'} do |f|
                    = f.submit('Make current version', class: 'btn btn-primary')

                    %ol.version-list
                      = f.collection_radio_buttons(:version, thesis.versions.reverse, :index, :created_at) do |b|
                        - version = b.object
                        - version_number = version.index
                        - is_live_version = version_number == thesis.versions.last.index
                        - reified = is_live_version ? thesis : version.next.reify
                        - summary = reified.summary
                        - text = reified.text
                        %li
                          = b.label('class' => 'version-label', 'data-summary' => summary, 'data-text' => text) do
                            = b.radio_button(checked: is_live_version, class: 'version-radio')
                            = version.created_at.in_time_zone.to_s(:pretty)
                            by
                            = User.find(version.whodunnit).name

                .col-lg-8.version-preview
                  %h4 Summary
                  %p.version-summary
                    = thesis.summary
                  %h4 Text
                  %p.version-text
                    = thesis.text

= content_for(:scripts) do
  :javascript
    $('.version-radio').on('change', function(event) {
      var $label = $(this).closest('label'),
          summary = $label.data('summary'),
          text = $label.data('text');
      $('.version-summary').text(summary);
      $('.version-text').text(text);
    });
