.container
  %p#notice= notice

  .row
    %h1.col-xs-11= @issue.title
    .col-xs-1
      = link_to edit_issue_path(@issue), { class: [:btn, :'btn-default'], title: 'Edit' } do
        %i.glyphicon.glyphicon-edit

  .row
    .col-xs-1
      = link_to '#text', { 'data-toggle' => :collapse, 'data-parent' => '#accordion' } do
        %i.glyphicon.glyphicon-plus-sign

    .col-xs-11
      %span by
      %span= link_to @issue.author.display, @issue.author

  #text.row.collapse
    .col-xs-12= @issue.text
  
  #vote.row
    #yea.col-xs-6= link_to 'Yea', voteyea_issue_path(@issue), class: current_user.voted_up_on?(@issue, role: :approval) ? 'selected' : '', method: :post
    #nay.col-xs-6= link_to 'Nay', votenay_issue_path(@issue), class: current_user.voted_down_on?(@issue, role: :approval) ? 'selected' : '', method: :post

  .row
    .col-xs-6
      %ul
        - @issue.theses.where(position: :for).each do |thesis|
          %li= link_to thesis.summary, thesis
    .col-xs-6
      %ul
        - @issue.theses.where(position: :against).each do |thesis|
          %li= link_to thesis.summary, thesis
    
      
