= simple_form_for([@issue, @thesis]) do |f|
  = f.error_notification

  .form-inputs
    = hidden_field_tag :position, @position
    = f.input :summary, as: :string
    = f.input :text

  .form-actions
    = f.button :submit, class: :'btn-success'
    = link_to 'Cancel', :back
