= simple_form_for(@thesis) do |f|
  = f.error_notification

  .form-inputs
    = f.association :issue
    = f.input :position, collection: Issue.positions
    = f.input :summary
    = f.input :text

  .form-actions
    = f.button :submit, class: :'btn-success'
