%td= link_to user.display, user
%td
  - if policy(user).edit?
    = form_for(user) do |f|
      = f.select(:role, User.roles.keys.map { |role| [role.titleize,role] })
      = f.submit 'Change Role', class: 'button-xs'
%td
  - if policy(user).destroy? and user != current_user
    = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs')
