= form_for(@delegation, html: { class: 'form-horizontal' } ) do |f|
  = # f.error_notification

  = f.fields_for(:delegation_entries) do |builder|
    .form-inputs
      = builder.select :delegate_type, options_for_select( ['User', 'Organization'] ), class: 'form-control'

    .form-inputs
      = builder.select :delegate_id, options_from_collection_for_select( User.all, :id, :display ), class: 'form-control'

    .form-inputs
      = builder.select :delegate_id, options_from_collection_for_select( Organization.all, :id, :name ), class: 'form-control'

  .form-inputs
    = f.select :tag_list, options_from_collection_for_select( ActsAsTaggableOn::Tag.all, :name, :name ), {}, {multiple: true, class: 'form-control'}

  .form-actions
    = f.button :submit, class: :'btn-default'
