= form_for(@delegation, html: { class: 'form-horizontal delegations-form' } ) do |f|
  = # f.error_notification

  .delegation-entries
    = link_to_add_fields "Add Delegate", f, :delegation_entries
    = f.fields_for(:delegation_entries) do |builder|
      = render 'delegation_entry_fields', f: builder

  .form-inputs
    = f.select :tag_list, options_from_collection_for_select( ActsAsTaggableOn::Tag.all, :name, :name ), {}, {multiple: true, class: 'form-control'}

  .form-actions
    = f.button :submit, class: :'btn btn-primary'
