%h1 Listing delegations

%table{class: 'table table-bordered'}
  %tr
    %th #
    %th Delegates
    %th Tags
    %th
    %th
    %th

  - @delegations.each_with_index do |delegation, index|
    %tr
      %td= index + 1
      %td
        %ol
          - delegation.delegation_entries.each do |delegation_entry|
            %li= delegation_entry.delegate.try(:name)
      %td
        %ul
          - delegation.tag_list.each do |tag|
            %li= tag
      %td= link_to 'Show', delegation
      %td= link_to 'Edit', edit_delegation_path(delegation)
      %td= link_to 'Destroy', delegation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Delegation', new_delegation_path
