-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ 'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('debate.svg'), root_path, class: [:icon, :'navbar-brand']
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li= link_to 'Account', edit_user_registration_path
        - if policy(User).index?
          %li= link_to 'Users', users_path
        - if user_signed_in?
          %li= link_to 'Delegate', delegate_user_path(current_user)
          %li= link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Sign in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path

