!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= content_for?(:title) ? yield(:title) : 'Debate'
    %meta{ name: 'description', content: content_for?(:description) ? yield(:description) : 'Debate' }
    %meta{ name: 'google-site-verification', content: 'aOM3PY1zem0k_5FG3ZtCGrYE13mjzW77wMWVtLJj0Lc' }

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    %footer
      = link_to image_tag('reddit.svg'), 'http://reddit.com/r/futuristparty', class: :icon
      = link_to image_tag('github.svg'), 'https://github.com/TheFuturistParty/debate/', class: :icon

    = yield(:scripts)
